* {
  font-family: CaskaydiaCove Nerd Font;
  color: #ffffff;
  font-size: 14pt;
}

tooltip {
  border: 0;
  background: #000000;
  border-radius: 0;
}

window#waybar {
  background: #000000;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  background: transparent;
}

#workspaces button {
  padding: 0 0.25em;
  margin: 0.125em;
  border: 0;
  background-color: transparent;
}

#workspaces button.active {
  border-bottom: 0.125em solid #ffffff;
  border-radius: 0;
}

#bluetooth,
#network,
#wireplumber,
#battery {
  margin-right: 1em;
}
